<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/x-icon" href="assets/favicon/favicon.ico">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/utilities.css" />

    <title>Portfolio Template</title>
  </head>
  <body>
   <div id="hero">
      <!-- Navbar -->
      <nav class="navbar">
         <div class="container">
            <!-- Logo -->
            <h1 id="logo">
               <a href="#"><img src="./assets/logo.png" alt="Your Logo"></a>
            </h1>
            <!-- Navbar links -->
            <ul class="nav-menu">
               <li><a class="nav-link" href="#">PROJECTS</a></li>
               <li><a class="nav-link" href="#">CONTACT</a></li>
               <li><a class="nav-link" href="#">BlOG</a></li>
               <li><a class="nav-link btn btn-primary" href="#">RESUME <i class="fas fa-arrow-right"></i></a></li>
   
               <!-- Toggle switch -->
               <div class="theme-switch">
                  <input type="checkbox" id="switch">
                  <label class="toggle-icons" for="switch">
                     <img class="sun" src="assets/sun.svg">
                     <img class="moon" src="assets/moon.svg">
                  </label>
               </div>
               <!-- Hamburger menu -->
               <div class="hamburger">
                 <span class="bar"></span>
                 <span class="bar"></span>
                 <span class="bar"></span>
               </div>
            </ul>
         </div>
      </nav>

      <div class="hero-content">
         <!-- Content -->
      </div>
   </div>
    <script src="js/script.js"></script>
  </body>
</html>
