/* ?This is where reusable styling of this template will be. 
   !Will contain things like:
   * Button styling
   * Background color styling
   * padding and margin
*/

.container {
   max-width: var(--width-medium);
   margin: 0 auto;
   padding: 1rem 2rem;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--bg-primary);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}
